@{
    Layout = "_Layout";
    var users = (List<User>) ViewData["users"];
}

<!DOCTYPE html>

<div>
    @foreach (var user in users)
    {
        <div class="card" style="width: 18rem; margin: 1em">
            <div class="card-body">
                <h5 class="card-title">@user.username</h5>
                <a href="https://localhost:5001/anime/index/@user.id" class="btn btn-primary">@user.username's favorite anime</a>
            </div>
        </div>
    }
</div>
